{% extends "utils_start.html" %}
{% block titulo %}Factura{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery-entropizer-master/dist/css/jquery-entropizer.min.css' %}" />
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<script type="text/javascript" src="{% static 'jquery-entropizer-master/lib/entropizer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-entropizer-master/dist/js/jquery-entropizer.min.js' %}"></script>
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
{% block content_center %}
    <a class="glyphicon glyphicon-list" id="menu-toggle"></a>
    {{factura}}
{% endblock content_center %}