# Add any directories, files, or patterns you don't want to be tracked by version control
.metadata
.buildpath
multi_form_view/__pycache__
base_django/__pycache__
users/__pycache__
utils/__pycache__
base_django/settings.py
multi_form_view/migrations
facturas/migrations
facturas/__pycache__
users/migrations
utils/migrations
conectores/migrations
conectores/__pycache__
folios/migrations
folios/__pycache__
*.*.backup
*.*~
*.swp
*.tar.gz
*.pyc
*.log
*.pydevproject
*.project
*.planner
*.tmp
*.orig
sources/*
mydatabase
config/settings.py
config/wsgi.py
