# Add any directories, files, or patterns you don't want to be tracked by version control
.metadata
.buildpath
multi_form_view/__pycache__
base_django/__pycache__
users/__pycache__
utils/__pycache__
base_django/settings.py
multi_form_view/migrations
facturas/migrations
facturas/__pycache__
users/migrations
utils/migrations
conectores/migrations/
conectores/__pycache__
folios/migrations/**
folios/__pycache__
boletas/migrations
boletas/__pycache__
certificados/migrations
certificados/__pycache__
conectores/migrations
conectores/__pycache__
guiaDespacho/migrations/
guiaDespacho/__pycache__
notaCredito/migrations/
notaCredito/__pycache__
notaDebito/migrations/
notaDebito/__pycache__
*/__pycache__
*/migrations
*.*.backup
*.*~
*.swp
*.tar.gz
*.pyc
*.log
*.pydevproject
*.project
*.planner
*.tmp
*.orig
*.db
*.pid
sources/*
mydatabase
config/settings.py
config/wsgi.py
__pycache__/
migrations/
migrations/*
results.sqlite