{% extends "utils_start.html" %}
{% block titulo %}Registrar Conectores{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery-entropizer-master/dist/css/jquery-entropizer.min.css' %}" />
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<script type="text/javascript" src="{% static 'jquery-entropizer-master/lib/entropizer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-entropizer-master/dist/js/jquery-entropizer.min.js' %}"></script>
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
{% block content_center %}

<div class="empresa-form-wrapper">
    {% if tiene_empresa %}
    <form method="POST" id="select_compania">
        {% csrf_token %}
        <select name="empresa" class=form-control>
            {% for empresa in empresas %}

            <option value="{{empresa.pk}}">{{empresa.razon_social}}</option>

            {% endfor %}
        </select>
        <input type="hidden" name="enviadas" value="{{ request.GET.enviadas }}">
        <input type="submit" class="btn btn-primary">
    </form>

    {% endif %}
</div>
<script type="text/javascript">
    $('#select_compania').submit(
        function(){
            $(".se-pre-con").fadeOut("slow").show();
            $('#mensaje_spinner').text('Estableciendo conexion con el ERPNext, esto puede tardar unos segundos, por favor espere...')
        });
</script>
{% endblock content_center %}
