.contenedor{
    width:100%;
    background-color:#FFFFFF;
    font-size:11px;
}
.cabecera {
    width:100%;
    height: 20%;
}
.logotipo {
   width: 30%;
   float:left;
   height: 0.2%;
 }

.logotipo img {
  max-height: 6.6cm;
  max-width: 4.3cm;
}

.document {
   color:#dc0a0a;
   text-align: center;
   float:right;
   width: 5.5cm;
   height: 1.5cm;
   height: auto;
   max-height: 40%;
   border: 1px solid;
   border-color: #000000;
   padding: 5px;
   text-transform: uppercase;
   font-weight: bold;
 }
.descripcion {
   text-align: center;
   float:left;
   width: 30%;
 }
.direccion{
    color:#dc0a0a;
    text-align: center;
    float:right;
    max-height: 30%;
    margin-top: 100px;
    margin-right: -227px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px;
 }
 .table-descripcion{
    width:100%;
    border: 1px solid;
    border-color: #000000;
    margin: 8px;
 }
 .table-factura{
    width:100%;
    border-color: #000000;
    border-collapse: collapse;
    //border: solid 1px black;
 }

 .table-factura td, th{
    border-left: 1px solid black;
    border-right: 1px solid black;
    //text-align: center;
 }
.table-factura th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.border_footer td:first-child{
    border: none;
    border-bottom: none;
    border-top: 1px solid black;
    border-left: none;
}

.border_footer td{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: none;
}

.border_bottom td:last-child{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.border_bottom td:first-child{
    border-left: none;
}

.border td{
 border-right: 1px solid black;
 border-left: none;

}
.timbre{
    width:50%;
    float:left;
    text-align: center;
}

.base-compania{
    font-size:10px;
}

.align-right { 
    text-align: right; 
}

.align-center { 
    text-align: center; 
}