{% extends "utils_start.html" %}
{% block titulo %}Notas de Crédito{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery-entropizer-master/dist/css/jquery-entropizer.min.css' %}" />
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<script type="text/javascript" src="{% static 'jquery-entropizer-master/lib/entropizer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-entropizer-master/dist/js/jquery-entropizer.min.js' %}"></script>
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
{% block content_center %}
<a class="glyphicon glyphicon-list" id="menu-toggle"></a>
{% if sistema %}
<div class="row" style="margin-bottom:10px">
    <div class="col-md-offset-10">
        <a href="{% url 'nota_credito:nota_sistema_crear' compania %}" class="btn btn-success">
            Crear Nota de Crédito
        </a>
    </div>
</div>
{% endif %}
<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>N°</th>
            <th>Compañía</th>
            <th>N° de folio</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
    
{% endblock content_center %}
{% block custom_js%}
<script type="text/javascript">
// Objeto Json lista de nota de credito
var URL = "{% url 'base:ajax_list_dte' compania 'NOTA_CRE_ELEC'%}?sistema={{sistema}}";
</script>

<script type="text/javascript" src="{% static 'custom_datatable/listDataTable.js' %}" ></script>
{% endblock custom_js%}