{% extends "utils_start.html" %}
{% block titulo %}Registrar Conectores{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery-entropizer-master/dist/css/jquery-entropizer.min.css' %}" />
{% endblock extras_css %}
{% block extras_js %}
<script type="text/javascript" src="{% static 'jquery-entropizer-master/lib/entropizer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-entropizer-master/dist/js/jquery-entropizer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
{% block content_center %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <a class="glyphicon glyphicon-list" id="menu-toggle"></a>
        <div class="col-xs-12">
            <div class="content">
            
              <!-- Inicio Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cuenta">
                      <h3>Registrar Conector</h3>
                      <form id="form_register" method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                         <button id="submit" type="submit" class="btn btn-success btn-block btn-flat">Registrar</button>
                    </div>
                  
                  </form>
                  <br>
                </div>
                <!-- Fin Tab panel -->
            </div>
        </div>
    </div>
</div>
{% endblock content_center %}



