{% extends "utils_start.html" %}
{% block titulo %}Registrar Conectores{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'jquery-entropizer-master/dist/css/jquery-entropizer.min.css' %}" />
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<script type="text/javascript" src="{% static 'jquery-entropizer-master/lib/entropizer.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-entropizer-master/dist/js/jquery-entropizer.min.js' %}"></script>
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
{% block content_center %}
<a class="glyphicon glyphicon-list" id="menu-toggle"></a>
<table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Guia</th>
            <th>Compañía</th>
            <th>N° de folio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {%for factura in object_list%}
        <tr>
            <td> <a href="#">{{factura.numero_factura}}</a></td>
            <td>{{factura.compania.razon_social}}</td>
            <td>{{ factura.n_folio }}</td>
            <td>
                <a href="{% url 'guia_despacho:ver_estado_guia' factura.compania.pk factura.numero_factura %}"  class="btn btn-success">Ver Estado</a>
                <a  id="edit_foo" href="{% url 'base:imprimir_factura' factura.compania.pk factura.numero_factura 'GUIA_DES_ELEC' %}" target="_blank" class="btn btn-info">Imprimir</a>
                <a  id="edit_foo" href="{% url 'base:imprimir_factura' factura.compania.pk factura.numero_factura 'GUIA_DES_ELEC' %}?impre=cont" target="_blank" class="btn btn-warning">Impresion continua</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <tr>
            <th>Guia</th>
            <th>Compañía</th>
            <th>N° de folio</th>
            <th>Acciones</th>
        </tr>
    </tfoot>
</table>
    <script type="text/javascript">
        $(document).ready( function () {
          $('#myTable').DataTable();
      });
  </script>
  {% endblock content_center %}